#### Mengimport Library

In [13]:
import pandas as pd
import numpy as np

#### Membaca File CSV

In [14]:
dataset = pd.read_csv("crypto-query-tweets.csv")

#### Tipe Dataset

In [29]:
dataset.dtypes

date_time              object
username               object
user_location          object
user_description       object
verified                 bool
followers_count         int64
following_count         int64
tweet_like_count        int64
tweet_retweet_count     int64
tweet_reply_count       int64
tweet_quote_count       int64
tweet_text             object
dtype: object

#### Melihat Dataset

In [30]:
dataset

,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,tweet_quote_count,tweet_text
0,2022-08-29 11:44:57+00:00,MerlinCarey6,NaN,Creative Producer. Illustrator. He / Him. #Clo...,False,0,0,0,0,0,0,49That spaces was so bad for #crypto. Save the...
1,2022-08-29 11:44:57+00:00,jayeth221,NaN,NaN,False,0,0,0,0,0,0,whitelist Detailed @MorghadeG @atowerises @cry...
2,2022-08-29 11:44:55+00:00,Prakash79984246,NaN,"""Ëá™Âä©‰∏ãÂçï ÁΩëÂùÄ shuafen999.com\nÊé®ÁâπÔºåinsÔºåyoutubeÔºåfacebo...",False,1,2,0,0,0,0,som #cyptocurrency #btc #eth #crypto W Leone n...
3,2022-08-29 11:44:55+00:00,THR_September22,NaN,usaha tak akan menghinati hasil ü§≠ü§≠ü§≠... \nakun ...,False,113,4375,0,0,0,0,@renezive @Crypto_Inside_ @NftMeta_News Done
4,2022-08-29 11:44:55+00:00,CryptoTruth205,"NC, NY, ATL, LA",Crypto/Stock Analysis. Never bullish/bearish o...,False,592,1063,0,0,0,0,@el_crypto_prof They aren‚Äôt the same pattern‚Ä¶s...
...,...,...,...,...,...,...,...,...,...,...,...,...
79995,2022-08-28 12:27:46+00:00,BloombergAsia,NaN,The official Twitter account for Bloomberg in ...,True,106217,563,1,0,0,0,"Bitcoin appeared stuck around $20,000 on Sunda..."
79996,2022-08-28 12:27:42+00:00,king_bigwin3,NaN,"pengen bigwin berapa aja,follback dong,üôèüôèüôè",False,66,2445,0,0,0,0,@crypto_inez @insurancefi_io Tg:slamet https:/...
79997,2022-08-28 12:27:41+00:00,Rezeki_Putri22,IndonesiaüáÆüá©,"‰∏â‰∏â·ïï( ·êõ )·ïó Jika tuhan belum menjawab doamu, ber...",False,160,2886,0,0,0,0,@crypto_inez Hello... Goodnight miss inez
79998,2022-08-28 12:27:41+00:00,0xkyongpie,ksoofuture,"kyungsoo, kyungsoo, kyungsoo just it-\n#VRpaid",False,495,4962,0,0,0,0,@princesspromos_ @Crypto_Hawkk Doneüîî
79999,2022-08-28 12:27:41+00:00,mahfug50,"Dinajpur,Bangladesh",Digital Marketer\nAlmost an SEO Expert,False,1022,557,1,0,1,0,@Crypto__emily Wait for more cheap

#### Menampilkan Isi Dictionary Dengan Tipe Objek

In [31]:
jmlhRecord = len(dataset)
namaAtribut = dataset.columns
jmlhAtribut = len(dataset.select_dtypes(include=['object']).columns)

dictObject = {
    'jumlah record' : jmlhRecord,
    'nama atribut' : namaAtribut,
    'jumlah atribut' : jmlhAtribut,
}
pd.Series(dictObject)

jumlah record                                                 80000
nama atribut      Index(['date_time', 'username', 'user_location...
jumlah atribut                                                    5
dtype: object

#### Menampilkan Isi Dictionary Dengan Tipe Angka

In [33]:
jumlahAtribut = len(dataset.select_dtypes(include=['int64']).columns)
jumlahNULL = len(dataset.columns[dataset.isna().sum() > 0])
dictInt = {
    'jumlah artibut' : jumlahAtribut,
    'jumlah atribut NULL' : jumlahNULL,
}
pd.Series(dictInt)

jumlah artibut         6
jumlah atribut NULL    2
dtype: int64

#### Menampilkan Nilai Rata-Rata (Mean)

In [34]:
dataset.select_dtypes(include=['int64']).mean()

followers_count        9674.178100
following_count        1187.229825
tweet_like_count          4.538963
tweet_retweet_count       1.489763
tweet_reply_count         1.770712
tweet_quote_count         0.081562
dtype: float64

#### Menampilkan Nilai standar Deviasi

In [35]:
dataset.select_dtypes(include=['int64']).std()

followers_count        239267.500257
following_count          3333.715460
tweet_like_count           55.696321
tweet_retweet_count        43.490939
tweet_reply_count          27.518316
tweet_quote_count           3.539066
dtype: float64

#### Menampilkan Nilai Minimum

In [36]:
dataset.select_dtypes(include=['int64']).min()

followers_count        0
following_count        0
tweet_like_count       0
tweet_retweet_count    0
tweet_reply_count      0
tweet_quote_count      0
dtype: int64

#### Menampilkan Nilai Maksimum

In [37]:
dataset.select_dtypes(include=['int64']).max()

followers_count        25535908
following_count          211354
tweet_like_count           7438
tweet_retweet_count        7459
tweet_reply_count          4045
tweet_quote_count           948
dtype: int64

#### Menampilkan Nilai Q1, Q2, Q3

In [38]:
dataset.select_dtypes(include=['int64']).quantile([0.25,0.50,0.75])

,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,tweet_quote_count
0.25,49.0,42.0,0.0,0.0,0.0,0.0
0.50,237.0,305.0,0.0,0.0,0.0,0.0
0.75,1575.5,1390.0,2.0,0.0,1.0,0.0

#### Menampilkan Nilai Mean, Standar Deviasi, MIN, MAX, Q1, Q2, Q3

In [39]:
dataset.describe()

,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,tweet_quote_count
count,8.000000e+04,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000
mean,9.674178e+03,1187.229825,4.538963,1.489763,1.770712,0.081562
std,2.392675e+05,3333.715460,55.696321,43.490939,27.518316,3.539066
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.900000e+01,42.000000,0.000000,0.000000,0.000000,0.000000
50%,2.370000e+02,305.000000,0.000000,0.000000,0.000000,0.000000
75%,1.575500e+03,1390.000000,2.000000,0.000000,1.000000,0.000000
max,2.553591e+07,211354.000000,7438.000000,7459.000000,4045.000000,948.000000

#### Menampilkan Nilai Korelasi

In [40]:
dataset.select_dtypes(include=['int64']).corr()

,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,tweet_quote_count
followers_count,1.000000,0.026875,0.083933,0.026645,0.067111,0.030608
following_count,0.026875,1.000000,0.022353,0.007185,0.017298,0.002686
tweet_like_count,0.083933,0.022353,1.000000,0.733009,0.511706,0.270077
tweet_retweet_count,0.026645,0.007185,0.733009,1.000000,0.373055,0.359717
tweet_reply_count,0.067111,0.017298,0.511706,0.373055,1.000000,0.231398
tweet_quote_count,0.030608,0.002686,0.270077,0.359717,0.231398,1.000000

#### Mengubah Nilai

In [41]:
dataset['followers_count'] = dataset['followers_count'].astype('float64', errors='ignore')
dataset['followers_count'].dtypes

dtype('float64')

#### Menampilkan Setelah Mengubah Nilai

In [43]:
pd.options.display.float_format = '{:.3f}'.format
dataset.followers_count.astype('float64')

0            0.000
1            0.000
2            1.000
3          113.000
4          592.000
           ...
79995   106217.000
79996       66.000
79997      160.000
79998      495.000
79999     1022.000
Name: followers_count, Length: 80000, dtype: float64

#### Menampilkan 10 Record Pertama Yang Bertipe Angka

In [44]:
dataset.select_dtypes(include=['int64']).head(10)

,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,tweet_quote_count
0,0,0,0,0,0
1,0,0,0,0,0
2,2,0,0,0,0
3,4375,0,0,0,0
4,1063,0,0,0,0
5,3,0,0,0,0
6,49,0,0,0,0
7,0,0,0,0,0
8,182,0,0,0,0
9,9,0,0,0,0